In [2]:
import pandas as pd

# Bloque 1

## Zoop Pay

Has recibido una nueva solicitud de las partes interesadas de Zoop, en la que ser√° necesario agregar m√°s columnas de otra base de datos a la tabla consolidada en el video anterior.

A diferencia de las actividades que estamos realizando en los videos de este curso, aqu√≠ tambi√©n utilizaremos esta nueva base para la construcci√≥n de los visuales dentro de los ejercicios de "Manos a la obra", enfoc√°ndonos en las demandas presentadas en las instrucciones de los ejercicios.

Los archivos que vamos a utilizar en esta parte del proyecto son:

* Datos de clientes del e-commerce de Zoop, separados por el c√≥digo identificador de la compra.
* Datos de ventas del e-commerce de Zoop en 2023, separados por el c√≥digo identificador de la compra.
* Datos de clientes pre-registrados en Zoop Pay, la billetera digital de Zoop que est√° en proceso de implementaci√≥n.

Estos datos se leer√°n a trav√©s de enlaces (URL) que compartimos a continuaci√≥n:

In [1]:
url_clientes = "https://gist.githubusercontent.com/ahcamachod/d08898e1cc84c7271856e78d9558ca3d/raw/2f7e1fa53711efe6433a5c5ec79948f600591cb9/clientes_zoop.csv"
url_ventas = "https://gist.githubusercontent.com/ahcamachod/966d7162a3c3a2769b8770b35abf1bcc/raw/d79941b3fa46a450f3611589abd8663399c1277b/ventas_zoop.csv"
url_zoop_pay = "https://gist.githubusercontent.com/ahcamachod/ce728231a836a973c0df94a9f03ed871/raw/8db6da43d7cd94fcab937208067d0fceb521b78c/zoop_pay.csv"

Ahora que ya sabemos cu√°les son los datos necesarios para la realizaci√≥n del proyecto, vamos a abrir el notebook mencionado anteriormente y realizar la siguiente actividad:

Construye y ejecuta un prompt en ChatGPT solicitando que lea las tres bases de datos y cree una √∫nica tabla concaten√°ndolas. Recuerda ser bastante espec√≠fico en cuanto al orden de las columnas y cu√°les ser√°n necesarias para realizar la concatenaci√≥n de los datos, adem√°s de tratar la columna de fecha para el formato adecuado.

**Consejo 1**: Para facilitar el proceso, pide a ChatGPT que primero concatene los datos de clientes y ventas en una tabla llamada df y, finalmente, que concatene esta nueva tabla con la base de clientes pre-registrados en Zoop Pay, generando as√≠ la tabla consolidada con todos los datos. Este proceso puede realizarse paso a paso en dos prompts, por ejemplo.

Si necesitas ayuda, una opci√≥n de soluci√≥n de la actividad estar√° disponible en la secci√≥n "Opini√≥n del instructor".

In [3]:
clientes = pd.read_csv(url_clientes)
ventas = pd.read_csv(url_ventas)
zoop_pay = pd.read_csv(url_zoop_pay)

In [4]:
clientes.head()

,ID_compra,ID_cliente,ciudad,estado,region,edad,sexo_biologico,cashback,nota
0,904,8972,Oaxaca de Ju√°rez,Oaxaca,Sur,49,Masculino,No,9
1,4613,5120,Ciudad de M√©xico,Ciudad de M√©xico,Centro,49,Femenino,No,9
2,5579,1847,Ciudad de M√©xico,Ciudad de M√©xico,Centro,24,Femenino,No,8
3,2405,2846,Ciudad de M√©xico,Ciudad de M√©xico,Centro,38,Femenino,S√≠,7
4,2485,2715,Chihuahua,Chihuahua,Noroeste,30,Femenino,No,10

In [9]:
ventas.head()

,ID_compra,fecha,horario,categoria,precio_unitario,cantidad,envio,metodo_pago
0,6,2023-01-03,20:40,Electr√≥nicos,4457.9,4,713.26,Paypal
1,5,2023-01-03,21:48,Herramientas y construcci√≥n,115.9,1,0.00,Transferencia
2,9,2023-01-03,17:08,Belleza e higiene,68.9,2,13.78,Tarjeta de Cr√©dito
3,4,2023-01-03,14:29,Herramientas y construcci√≥n,80.9,5,40.45,Transferencia
4,8,2023-01-03,18:02,Belleza e higiene,165.0,4,0.00,Transferencia

In [7]:
zoop_pay.head()

   ID_cliente zoop_pay
0        6149       No
1        9491       S√≠
2        5288       No
3        9679       S√≠
4        1380       No

In [26]:
zoop_pay.head()

   ID_cliente zoop_pay
0        6149       No
1        9491       S√≠
2        5288       No
3        9679       S√≠
4        1380       No

In [10]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6169 entries, 0 to 6168
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_compra        6169 non-null   int64
 1   fecha            6169 non-null   datetime64[ns]
 2   horario          6169 non-null   object
 3   categoria        6169 non-null   object
 4   precio_unitario  6169 non-null   float64
 5   cantidad         6169 non-null   int64
 6   envio            6169 non-null   float64
 7   metodo_pago      6169 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(2), object(3)
memory usage: 385.7+ KB

In [8]:
ventas['fecha'] = pd.to_datetime(ventas['fecha'], format = '%Y-%m-%d')

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Tengo otra tarea, me ayudas?
Tengo que concatenar dos bases de datos "ventas" y "compras" ambos son dataframes, concatenalas y quiero que el orden de las columnas quede de la siguiente manera ID_compra, fecha, horario, cantidad, categoria, precio_unitario, envio, metodo_pago, ID_cliente, ciudad, estado, region, edad, sexo_biologico, cashback, nota

¬°Claro que s√≠, Luis! Aqu√≠ tienes el c√≥digo para **concatenar los DataFrames `ventas` y `compras`** y reorganizar las columnas en el orden que indicaste:

In [22]:
# Concatenaci√≥n vertical de las bases de datos
df = pd.merge(ventas, clientes, on='ID_compra', how='inner')

In [23]:
# Reordenamiento de columnas seg√∫n lo solicitado
orden_columnas = [
    'ID_compra',
    'fecha',
    'horario',
    'cantidad',
    'categoria',
    'precio_unitario',
    'envio',
    'metodo_pago',
    'ID_cliente',
    'ciudad',
    'estado',
    'region',
    'edad',
    'sexo_biologico',
    'cashback',
    'nota'
]

In [24]:
# Aplicar el orden al DataFrame final
df = df[orden_columnas]

üîπ Este c√≥digo asume que las columnas en ambos DataFrames (`ventas` y `compras`) ya est√°n normalizadas y tienen nombres consistentes.

üîπ Si algunas columnas no est√°n en ambos DataFrames, Pandas rellenar√° con `NaN` donde falten valores.

¬øQuieres que verifiquemos primero si tienen exactamente las mismas columnas antes de concatenar? Tambi√©n puedo ayudarte con eso si lo necesitas.

In [25]:
df.head()

,ID_compra,fecha,horario,cantidad,categoria,precio_unitario,envio,metodo_pago,ID_cliente,ciudad,estado,region,edad,sexo_biologico,cashback,nota
0,6,2023-01-03,20:40,4,Electr√≥nicos,4457.9,713.26,Paypal,6149,Hermosillo,Sonora,Noroeste,30,Masculino,S√≠,10
1,5,2023-01-03,21:48,1,Herramientas y construcci√≥n,115.9,0.00,Transferencia,9491,Ciudad de M√©xico,Ciudad de M√©xico,Centro,36,Masculino,S√≠,8
2,9,2023-01-03,17:08,2,Belleza e higiene,68.9,13.78,Tarjeta de Cr√©dito,5288,Aguascalientes,Aguascalientes,Centro-Norte,39,Femenino,No,7
3,4,2023-01-03,14:29,5,Herramientas y construcci√≥n,80.9,40.45,Transferencia,9679,Veracruz,Veracruz,Golfo,35,Masculino,S√≠,9
4,8,2023-01-03,18:02,4,Belleza e higiene,165.0,0.00,Transferencia,1380,Ciudad de M√©xico,Ciudad de M√©xico,Centro,50,Masculino,No,9

> #### <strong><font color="7b71ff" size =6>Prompt:</font></strong>

Me gusto mucho, ya quedo, ahora quiero que unas el nuevo "df" con otro dataframe "zoop_pay".

¬°Perfecto, Luis! Me alegra saber que ya te qued√≥ bien la uni√≥n anterior. Ahora para **unir el nuevo `df` con el DataFrame `zoop_pay`**, primero necesitamos tener claro **cu√°l es la columna com√∫n** entre ellos.

---

### ‚úÖ Asumamos que la columna com√∫n es `ID_compra` (como en los anteriores)

Entonces puedes usar este c√≥digo:

```python
# Uni√≥n de df con zoop_pay usando ID_compra como clave
df = pd.merge(df, zoop_pay, on='ID_compra', how='inner')
```

---

### üîÑ Si la columna com√∫n es otra, como `ID_cliente` o `metodo_pago`

Solo cambia el par√°metro `on='otra_columna'`. Por ejemplo:

```python
# Si la clave es ID_cliente
df = pd.merge(df, zoop_pay, on='ID_cliente', how='inner')
```

---

### üß† Tip adicional: si quieres conservar toda la informaci√≥n del `df` original aunque no haya coincidencias en `zoop_pay`, usa `how='left'`:

```python
df = pd.merge(df, zoop_pay, on='ID_compra', how='left')
```

---

¬øQuieres que valide si las columnas clave existen en ambos DataFrames antes de hacer la uni√≥n? Tambi√©n te puedo ayudar a ver cu√°ntas filas se pierden o ganan despu√©s del merge.

In [28]:
df = pd.merge(df, zoop_pay, on='ID_cliente', how='inner')

In [29]:
df

,ID_compra,fecha,horario,cantidad,categoria,precio_unitario,envio,metodo_pago,ID_cliente,ciudad,estado,region,edad,sexo_biologico,cashback,nota,zoop_pay
0,6,2023-01-03,20:40,4,Electr√≥nicos,4457.9,713.26,Paypal,6149,Hermosillo,Sonora,Noroeste,30,Masculino,S√≠,10,No
1,5,2023-01-03,21:48,1,Herramientas y construcci√≥n,115.9,0.00,Transferencia,9491,Ciudad de M√©xico,Ciudad de M√©xico,Centro,36,Masculino,S√≠,8,S√≠
2,9,2023-01-03,17:08,2,Belleza e higiene,68.9,13.78,Tarjeta de Cr√©dito,5288,Aguascalientes,Aguascalientes,Centro-Norte,39,Femenino,No,7,No
3,4,2023-01-03,14:29,5,Herramientas y construcci√≥n,80.9,40.45,Transferencia,9679,Veracruz,Veracruz,Golfo,35,Masculino,S√≠,9,S√≠
4,8,2023-01-03,18:02,4,Belleza e higiene,165.0,0.00,Transferencia,1380,Ciudad de M√©xico,Ciudad de M√©xico,Centro,50,Masculino,No,9,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6164,6141,2023-12-31,17:49,5,Electrodom√©sticos,1509.9,377.48,Tarjeta de Cr√©dito,6035,Cholula,Puebla,Centro-Sur,49,Masculino,No,10,No
6165,6148,2023-12-31,23:02,2,Papeler√≠a y oficina,14.0,3.36,Transferencia,7361,Mazatl√°n,Sinaloa,Noroeste,40,Masculino,S√≠,7,No
6166,6123,2023-12-31,21:25,1,Alimentos y bebidas,77.9,7.79,Tarjeta de Cr√©dito,4516,Aguascalientes,Aguascalientes,Centro-Norte,32,Masculino,No,8,No
6167,6147,2023-12-31,21:38,4,Libros,142.9,17.15,Tarjeta de Cr√©dito,3786,Guadalajara,Jalisco,Occidente,34,Masculino,No,9,No
6168,6122,2023-12-31,22:11,5,Belleza e higiene,89.9,13.48,Tarjeta de Cr√©dito,8022,Tlaquepaque,Jalisco,Occidente,20,Femenino,S√≠,9,S√≠